Repository Natoandro/serial-stamp: changes, and which pre-commit hooks are due for each by the changed paths.
All: desktop-pnpm-check, desktop-cargo-check

desktop-pnpm-check:
  name: 'desktop: pnpm check'
  entry: sh -c 'cd apps/serial-stamp-desktop && pnpm -s check'
  language: system
  pass_filenames: false

desktop-cargo-check:
  name: 'desktop: cargo check (tauri)'
  entry: sh -c 'cd apps/serial-stamp-desktop/src-tauri && cargo check'
  language: system
  pass_filenames: false

fix(desktop): use browser-safe toml parser
  apps/serial-stamp-desktop/package.json
  apps/serial-stamp-desktop/pnpm-lock.yaml
  apps/serial-stamp-desktop/src/lib/spec/spec.ts
Due: desktop-pnpm-check

feat(desktop): add form-based spec builder
  apps/serial-stamp-desktop/.gitignore
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check

refactor(desktop): move spec.toml handling into tauri (json API)
  apps/serial-stamp-desktop/package.json
  apps/serial-stamp-desktop/pnpm-lock.yaml
  apps/serial-stamp-desktop/src-tauri/Cargo.lock
  apps/serial-stamp-desktop/src-tauri/Cargo.toml
  apps/serial-stamp-desktop/src-tauri/src/lib.rs
  apps/serial-stamp-desktop/src/lib/assets/favicon.svg
  apps/serial-stamp-desktop/src/lib/index.ts
  apps/serial-stamp-desktop/src/lib/spec/spec.ts
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check, desktop-cargo-check

feat(desktop): add native menu for project and export actions
  apps/serial-stamp-desktop/src-tauri/src/lib.rs
Due: desktop-pnpm-check, desktop-cargo-check

feat(desktop): implement project persistence (open/save/zip) with Svelte 5 runes
  apps/serial-stamp-desktop/package.json
  apps/serial-stamp-desktop/pnpm-lock.yaml
  apps/serial-stamp-desktop/src-tauri/Cargo.lock
  apps/serial-stamp-desktop/src-tauri/Cargo.toml
  apps/serial-stamp-desktop/src-tauri/src/lib.rs
  apps/serial-stamp-desktop/src/lib/MenuController.svelte
  apps/serial-stamp-desktop/src/lib/state/spec.svelte.ts
  apps/serial-stamp-desktop/src/lib/state/workspace.svelte.ts
  apps/serial-stamp-desktop/src/routes/+layout.svelte
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check, desktop-cargo-check

fix(desktop): fix layout overflow scrolling issues
  apps/serial-stamp-desktop/src/lib/components/AppLayout.svelte
  apps/serial-stamp-desktop/src/routes/+layout.svelte
Due: desktop-pnpm-check

feat(desktop): implement asset management and redesign UI
  apps/serial-stamp-desktop/src-tauri/src/lib.rs
  apps/serial-stamp-desktop/src/lib/MenuController.svelte
  apps/serial-stamp-desktop/src/lib/components/LayoutEditor.svelte
  apps/serial-stamp-desktop/src/lib/components/PreviewPanel.svelte
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
  apps/serial-stamp-desktop/src/lib/state/resources.svelte.ts
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check, desktop-cargo-check

fix(desktop): enable dialog permissions for file picker
  apps/serial-stamp-desktop/src-tauri/capabilities/default.json
Due: desktop-pnpm-check, desktop-cargo-check

feat(desktop): implement preview generation via python integration
  apps/serial-stamp-desktop/src-tauri/Cargo.lock
  apps/serial-stamp-desktop/src-tauri/Cargo.toml
  apps/serial-stamp-desktop/src-tauri/src/lib.rs
  apps/serial-stamp-desktop/src/lib/components/PreviewPanel.svelte
  serial_stamp/cli.py
  serial_stamp/engine.py
Due: desktop-pnpm-check, desktop-cargo-check

feat(desktop): add color pickers for background and text color
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
Due: desktop-pnpm-check

Refactor app layout and editors
  apps/serial-stamp-desktop/src/lib/components/AppLayout.svelte
  apps/serial-stamp-desktop/src/lib/components/LayoutEditor.svelte
  apps/serial-stamp-desktop/src/lib/components/PreviewPanel.svelte
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check

feat: add single-active accordion to sidebar
  apps/serial-stamp-desktop/src/lib/components/AccordionGroup.svelte
  apps/serial-stamp-desktop/src/lib/components/AccordionSection.svelte
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
  apps/serial-stamp-desktop/src/lib/icons/ChevronIcon.svelte
Due: desktop-pnpm-check

docs: add AGENT.md documentation for AI assistants
  AGENT.md
Due: none

feat: implement modern CSS-based theming system
  apps/serial-stamp-desktop/src/lib/components/AccordionSection.svelte
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
  apps/serial-stamp-desktop/src/lib/themes/README.md
  apps/serial-stamp-desktop/src/lib/themes/THEME_SWITCHER_EXAMPLE.md
  apps/serial-stamp-desktop/src/lib/themes/theme.css
  apps/serial-stamp-desktop/src/lib/themes/themes.ts
  apps/serial-stamp-desktop/src/routes/+layout.svelte
Due: desktop-pnpm-check

refactor: extract form controls into reusable components
  apps/serial-stamp-desktop/src/lib/components/LayoutEditor.svelte
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Button.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/ColorInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/IconButton.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Input.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/NumberInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Select.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/index.ts
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check

feat: add explicit heights with size variants to form controls
  apps/serial-stamp-desktop/src/lib/components/forms/ColorInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Input.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/NumberInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Select.svelte
  apps/serial-stamp-desktop/src/lib/themes/theme.css
Due: desktop-pnpm-check

refactor: simplify ColorInput to display as colored box
  apps/serial-stamp-desktop/src/lib/components/forms/ColorInput.svelte
Due: desktop-pnpm-check

feat: add GridSizePicker component with popover
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizePicker.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizeSelector.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/index.ts
Due: desktop-pnpm-check

refactor: extract icons and add custom chevrons to form controls
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizePicker.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Select.svelte
  apps/serial-stamp-desktop/src/lib/icons/GridIcon.svelte
Due: desktop-pnpm-check

feat: add dual-color highlighting to GridSizeSelector
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizeSelector.svelte
Due: desktop-pnpm-check

feat: add inset border to show selected grid even when hovering larger
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizeSelector.svelte
Due: desktop-pnpm-check

feat: add diagonal stripe pattern to show selected grid cells
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizeSelector.svelte
Due: desktop-pnpm-check

feat: add Switch component and toggle mode for GridSizePicker
  apps/serial-stamp-desktop/src/lib/components/forms/GridSizePicker.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/NumberInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Switch.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/index.ts
Due: desktop-pnpm-check

chore: remove redundant Project section from sidebar
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check

feat: restructure sidebar with new sections and form controls
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/GapInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/MarginInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/SegmentedControl.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/index.ts
  apps/serial-stamp-desktop/src/lib/state/spec.svelte.ts
Due: desktop-pnpm-check

feat: enhance number inputs with custom spinners and integrated labels
  apps/serial-stamp-desktop/src/lib/components/forms/GapInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/MarginInput.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/NumberInput.svelte
Due: desktop-pnpm-check

refactor: remove redundant layout metrics bar
  apps/serial-stamp-desktop/src/lib/components/LayoutEditor.svelte
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check

refactor: replace native Select with custom popover component
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/TextEditor.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Select.svelte
Due: desktop-pnpm-check

feat: add Browse action option to source image selector
  apps/serial-stamp-desktop/src/lib/components/Sidebar.svelte
  apps/serial-stamp-desktop/src/lib/components/forms/Select.svelte
  apps/serial-stamp-desktop/src/lib/state/resources.svelte.ts
Due: desktop-pnpm-check

Update .gitignore: Add /projects to ignore list.
  .gitignore
Due: none

Add CLI guide documentation: Include the new docs/CLI_GUIDE.md file.
  docs/CLI_GUIDE.md
Due: none

Add conditional sidebar rendering: Implement show/hide logic for the sidebar in the desktop app components.
  apps/serial-stamp-desktop/src/lib/components/AppLayout.svelte
  apps/serial-stamp-desktop/src/routes/+page.svelte
Due: desktop-pnpm-check

Update Pydantic models: Add field aliases and populate-by-name config for better compatibility.
  serial_stamp/models.py
Due: none

Path conditions:
  desktop-pnpm-check: any of: ^apps/serial-stamp-desktop/
  desktop-cargo-check: any of: ^apps/serial-stamp-desktop/src-tauri/
